html, body {
    height: 100%;
    margin: 0;
    font-family: 'Comfortaa';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton';
}
h1.home-title {
    font-size: 4.5rem;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
p, a  {
    font-family: 'Comfortaa';
}
p.home-desc {
    font-size: 1.5em;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.home-hero {
    background-image: url('../img/DSCF5491.jpg');
    /* background-image: url('../img/DSCF5182.jpg'); */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    color: #FFFFFF;
}

.home-hero a {
    color: #FFFFFF;
    text-decoration: underline;
}

.home-hero .row {
    background-color: rgba(0, 0, 0, 0.4);;
}

[data-scroll] {
    transition: all 2s;
}

[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
}

[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-200px);
}