@import "~bootstrap/scss/bootstrap";
    
/* color scheme */
$dark: rgba(73, 73, 73, 1);
$red: rgba(237, 106, 90, 1);
$light: rgba(252, 222, 190, 1);
$blue: rgba(125, 128, 218, 1);
$white: rgba(250, 250, 255, 1);
$green: rgba(155, 193, 188, 1);

/* font families */
$sansSerif: 'Raleway', sans-serif;
$serif: 'Lora', serif;
    
html, body, #root
    height: 100%;
    margin: 0;
    font-family: $sansSerif;

.home-hero
    background-image: url('./img/DSCF5491.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $dark;
    color: white;
    text-shadow: -1px -1px 5px rgba(255, 255, 255, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.5);;
    .row 
        background-color: rgba(0, 0, 0, 0.4);
    &-title 
        font-size: 4.5rem;
        font-family: $sansSerif;
        font-weight: bold;
    &-desc
        font-size: 2.5rem;
        font-family: $serif;
    a 
        color: #FFFFFF;

@include media-breakpoint-only(xs)
    .home-hero
        &-title
            font-size: 3.5rem;
        &-desc
            font-size: 1.5rem;

.projects
    &--container
        background-color: $green;
        background-image: url('./img/subtle_white_feathers_@2X.png');
        background-size: 500px 333px;
    &--card
        background-color: $white;
        border-radius: 0.75rem;
        overflow: hidden;
        position: relative;
        color: $dark;   
        padding-bottom: 56px;
        -webkit-box-shadow: 5px 5px 5px -4px rgba(102,102,102,0.5);
        -moz-box-shadow: 5px 5px 5px -4px rgba(102,102,102,0.5);
        box-shadow: 5px 5px 5px -4px rgba(102,102,102,0.5); 
    &--img-container
        overflow: hidden;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
    &--links-container
        background-color: $light;
        position: absolute;
        bottom: 0;
    &--link
        background-color: $red;
        color: $white;
        border-radius: 1.5rem;
        font-weight: bold;
        transition: background-color 0.3s;
        &:hover
            background-color: $blue;
            color: $white;
            text-decoration: none;
    &--title
        font-size: 21px;
        font-family: $serif;
        font-weight: bold;
        background-color: $white;
    &--deets
        background-color: $white;
        span
            font-size: 14px;
            font-style: italic;      
        small
            font-style: italic;

.bio
    &--container
        background-color: $dark;
        color: $white;
        p
            font-family: $serif; 
        #animation_container, #canvas, #dom_overlay_container
            width: 50%!important;
            height: auto!important;
        @include media-breakpoint-only(xl)
            #animation_container, #canvas, #dom_overlay_container
                width: 50%!important;
                height: auto!important;
    &--text
        background-color: $dark;
        p
            font-size: 18px;
        img 
            -webkit-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.5);
            -moz-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.5);
            box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.5); 
    &--title
        font-family: $sansSerif!important;
        font-weight: bold;
        font-size: 32px!important;
    &--animation
        background-color: $blue;
        background-image: url('./img/animation-background.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    &--links
        border-top: 1px solid rgba(250, 250, 255, 0.2);
        width: auto;
        a
            color: #FFFFFF;
            font-family: $sansSerif;
            font-weight: bold;
            transition: color 0.3s, font-size 0.3s;
            font-size: 1.2rem;
            &:hover
                color: $red;
                cursor: pointer;
                text-decoration: none;
                font-size: 1.5rem;

[data-scroll] 
    transition: opacity 1s, padding-right 1s;
        

[data-scroll="in"] 
    opacity: 1;
    left: 0;
    padding-right: 15px!important;
        

[data-scroll="out"] 
    opacity: 0;
    left: 25px;
    padding-right: 75px!important;
        
